<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.full_name}}" placeholder="Full Name"
            name="full_name">
        <label for="floatingInput">Full Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.age}}" placeholder="Age" name="age">
        <label for="floatingInput">Age</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.gender}}" placeholder="Gender"
            name="gender">
        <label for="floatingInput">Gender</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.location}}" placeholder="Location"
            name="location">
        <label for="floatingInput">Location</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="E-mail"
            name="email">
        <label for="floatingInput">Email</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone"
            name="phone">
        <label for="floatingInput">Phone</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>